langchain
langgraph
langchain_community
langchain_core
langchain_groq
langchain_openai
faiss-cpu
streamlit
tavily-python
feedparser
trafilatura
requests
fastmcp
pandas
urllib3
newspaper4k
lxml_html_clean
numpy
openai
reportlab
matplotlib
scikit-learn
yfinance
python-dotenv
openpyxl
newspaper3k
xlsxwriter
